@media (max-width: 600px) {
  body {
    font-size: 16px;
  }

  .container {
    padding: 10px;
  }
}


/*///////// TITULO ///////////*/
.titulo-caixa {
	margin: 0 auto;
	width: 70%;
}

.titulo {
	text-align: center;
	color: black;
	font-family: Arial;
	font-size: 48px;
}


/*///////// DADOS PESSOAIS ///////////*/
.dados-pessoais {
	margin: 0 auto;
	width: 60%;
}

.dados-pessoais p {
	font-family: Arial;
	font-size: 18px;
	margin: 8px;
}


/*///////// OBJETIVO ///////////*/
.objetivo {
	margin: 0 auto;
	width: 59%;
}

.objetivo-titulo {
	font-family: Verdana;
	font-size: 26px;
	margin-top: 45px;
}

.objetivo-descricao {
	font-family: Arial;
	font-size: 18px;
	margin-left: 22px;
	line-height: 30px;
}

/*///////// FORMAÇÃO ///////////*/
.formacao {
	margin: 0 auto;
	width: 59%;
}

.formacao h3 {
	font-family: Verdana;
	font-size: 26px;
	margin-top: 45px;
}

.formacao p {
	font-family: Arial;
	font-size: 18px;
	margin-left: 22px;
	margin-top: 8px;
	margin-bottom: 8px;
}

/*///////// QUALIFICAÇÕES ///////////*/
.quali {
	margin: 0 auto;
	width: 59%;
}

.quali h3 {
	font-family: Verdana;
	font-size: 26px;
	margin-top: 45px;
}

.quali p {
	font-family: Arial;
	font-size: 18px;
	margin-left: 22px;
	margin-top: 8px;
	margin-bottom: 8px;
}

/*///////// EXPERIÊNCIA PROFISSIONAL ///////////*/
.experiencia {
	margin: 0 auto;
	width: 59%;
}

.experiencia h3 {
	font-family: Verdana;
	font-size: 26px;
	margin-top: 45px;
}

#exp1 {
	padding-top: 8px;
	padding-bottom: 22px;
}

#exp2 {
	padding-top: 8px;
	padding-bottom: 22px;
}

#exp3 {
	padding-top: 8px;
	padding-bottom: 22px;
}

#exp4 {
	padding-top: 8px;
	padding-bottom: 22px;
}

#exp5 {
	padding-top: 8px;
	padding-bottom: 22px;
}

#exp6 {
	padding-top: 8px;
}

#exp1 p {
	font-family: Arial;
	font-size: 18px;
	margin-left: 22px;
	margin-top: 8px;
	margin-bottom: 8px;
}

#exp2 p {
	font-family: Arial;
	font-size: 18px;
	margin-left: 22px;
	margin-top: 8px;
	margin-bottom: 8px;
}

#exp3 p {
	font-family: Arial;
	font-size: 18px;
	margin-left: 22px;
	margin-top: 8px;
	margin-bottom: 8px;
}

#exp4 p {
	font-family: Arial;
	font-size: 18px;
	margin-left: 22px;
	margin-top: 8px;
	margin-bottom: 8px;
}

#exp5 p {
	font-family: Arial;
	font-size: 18px;
	margin-left: 22px;
	margin-top: 8px;
	margin-bottom: 8px;
}

#exp6 p {
	font-family: Arial;
	font-size: 18px;
	margin-left: 22px;
	margin-top: 8px;
	margin-bottom: 8px;
}

/*///////// ADICIONAIS ///////////*/
.adicional {
	margin: 0 auto;
	width: 59%;
}

.adicional h3 {
	font-family: Verdana;
	font-size: 26px;
	margin-top: 45px;
}
.adicional p {
	font-family: Arial;
	font-size: 18px;
	margin-left: 22px;
	margin-top: 8px;
	margin-bottom: 8px;
}

/* WHATSAPP BUTTON */
.wpp-bt {
	position: fixed;
	bottom: 15px;
	right: 20px;
	cursor: pointer;
	border-radius: 10px;
	border
}

.botao {
	width: 65px;
	height: 65px;
}

.contato-wpp {
	position: fixed;
	bottom: 25px;
	right: 120px;
	font-size: 16px;
	font-family: Arial;
}